<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"        
        xmlns:gap = "http://phonegap.com/ns/1.0"        
        xmlns:android="http://schemas.android.com/apk/res/android"        
        id        = "com.ihyausunnah.thesunnahrevival"        
        version   = "1.0.4"              >	    
        
        <name>The Sunnah Revival  </name>    
        <description>      
            The Sunnah Revival    
        </description>    
        <author href="http://thesunnahrevival.wordpress.com" email="ihyausunnah@yahoo.com">          
        </author>	    
         
         <!-- Customize your app and platform with the preference element. -->    
        <preference name="phonegap-version"  value="cli-9.0.0" /><!-- all: current version of PhoneGap -->    
        <preference name="orientation" value="default" /><!-- all: default means both landscape and portrait are enabled--> <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal-->    <preference name="fullscreen" value="false" /><!-- all: hides the status bar at the top of the screen -->    <preference name="webviewbounce" value="true" />
        <preference name="prerendered-icon" value="true" />
        <preference name="stay-in-webview" value="false" />
        <preference name="ios-statusbarstyle" value="black-opaque" /> 
        <preference name="detect-data-types" value="true" /> 
        <preference name="exit-on-suspend"  value="false" /> 
        <preference name="StatusBarBackgroundColor" value="#FFFFFF" />    
        <preference name="show-splash-screen-spinner" value="true" /> 
        <preference name="auto-hide-splash-screen"    value="true" /> 
        <preference name="disable-cursor" value="false" /> 
        <preference name="android-minSdkVersion"      value="19" /> 
         <preference name="android-targetSdkVersion"   value = "28" />
        <preference name="android-installLocation"    value="auto" /> 
        <preference name="SplashScreenDelay" value="5000" /> <preference name="android-build-tool" value="gradle" /> 

        <gap:platform name="android" />      

        <feature name="http://api.phonegap.com/1.0/network"/>	
        
        <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />		
        <plugin name="cordova-plugin-network-information" spec="~1.3.1" />		
        <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />        
        <plugin name="cordova-plugin-globalization" spec="~1.0.6" />
        <plugin name="cordova-plugin-dialogs" spec="~1.3.2" />	

        <!-- Third party plugins -->    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->    <!--        <gap:plugin name="com.phonegap.plugins.barcodescanner" />    -->
        
        <gap:plugin name="cordova-plugin-x-socialsharing" version="5.4.0" source="npm" />		
        <plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />        
        <gap:plugin name="de.appplant.cordova.plugin.local-notification"  source="npm"/>		
        <gap:plugin name="cordova-plugin-whitelist" source="npm" />		
        <plugin name="cordova-plugin-apprate" source="npm"/>              
        <gap:plugin name="cordova-plugin-x-toast" source="npm" />       		    
        
        
        <!-- Define app icon for each platform. -->    
        <icon src="icon.png" />       
        
         <!-- Define app splash screen for each platform. -->    
        <splash src="splash.png" />    
         
        <!--        Define access to external domains.        <access />            - a blank access tag denies access to all external resources.        <access origin="*" /> - a wildcard access tag allows access to all external resource.        Otherwise, you can specify specific domains:    -->    
        
        <access origin="*"/>	
        <allow-navigation href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="*" />
        <allow-intent href="com.whatsapp*" />
        <allow-intent href="market:*" />
             
             
             <!-- Allow all unrecognized URLs to open installed apps     *NOT RECOMMENDED* -->    <!--        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.    -->
</widget>